/* .timer
{
  display:flex;
  justify-content: center;
} */

/* body
{
  background-image: url('./../assets/delicious-birthday-cake-with-candles.jpg');
  background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
} */
